*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: lavender;
}
.nav-responsive{
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background:rgb(128, 180, 248);
    padding: 0.8rem 0rem;
    margin-top: -5rem;
}

.logo{
    color: rgb(73, 73, 70);
    font-size: 30px;
    padding: 0 10px;
}

.access a{
    color: rgb(73, 73, 70);
    font-size: 20px;
    padding:0 10px;
}
#notification{
    position: relative;
    top: -5px;
}
#cart{
    position: relative;
    top: -5px;
}
#bars{
    padding:0 10px;
    font-size: 30px;
    margin-right: 1rem;
}
#account{
    display: none;
    margin-right: 1rem;
}
#account i{
    font-size: 30px;
}

#main{
    margin-top: 5rem;
}
#categories{
    margin: 0.5rem 0;
    /* display: flex; */
    padding: 0.5rem 0.3rem;
    background: rgba(253, 253, 253, 0.924);
}

.addBtnDiv{
    text-align: end;
    /* display: contents; */
}
.addBtn{
    background: rgb(126, 202, 228);
    color: white;
    border: none;
    outline: none;
    padding: 12px; 
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 10px 0 0;
}

.card-body.custom{
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    padding: 5px;
    text-align: left;    
    
  }

  .selectBox{
    position: relative;
  }
  .serachInputBox{
      /* width: 100%;
      padding: 12px 10px; */
      position: absolute;
      border-radius: 8px 8px 0 0;
      z-index: 100;
      outline: none;
  }

  .totalTbl{
      width: 100%;
  }
  .totalTiltle{
    width: 24.7%;
    }
    #actualPriceTotal{
        width: 17%;
    }
    #discountTotal{
        width: 14.7%;
    }
    #productTotal{
        width: 21.7%;
    }

  @media only screen and (max-width : 500px){
    #categories{
        margin: 0.5rem 0;
        /* display: flex; */
        padding: 0.5rem 0.3rem;
        background: rgba(253, 253, 253, 0.924);
        width: fit-content;
    }
    .totalTiltle{
        width: 37.7%;
    }
    #actualPriceTotal{
        width: 12.5%;
    }
    #discountTotal{
        width: 15.8%;
    }
    #productTotal{
        width: 19.4%;
    }
  }