*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: lavender;
}
.nav-responsive{
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background:rgb(128, 180, 248);
    padding: 0.8rem 0rem;
    margin-top: -5rem;
}

.logo{
    width: 4rem;
    height: 3rem;
    border-radius: 50%;
}
.nav-search{
    width: 50vw;
    margin: 0 auto;
    position: relative;
}
.searchbox{
    margin: 0 auto;
    width: 50vw;
    outline: none;
    font-size: 1.3rem;
    padding:0.2rem 2rem 0.2rem 1rem;
    border-radius: 1rem;
    border: none;
}
#find{
    position: absolute;
    font-size: 1.3rem;
    top: 0.3rem;
    right: 0.5rem;
    color: rgb(184, 140, 140);
    background: transparent;
}

.access a{
    color: rgb(73, 73, 70);
    font-size: 20px;
    padding:0 0.625rem;
}

.navItems{
    position: relative;
    top: -5px;
}

.navBars{
    padding:0 0.625rem;
    font-size: 30px;
    margin-right: 1rem;
}
.navAccount{
    display: none;
    margin-right: 1rem;
}
.navAccount i{
    font-size: 30px;
}



/* main section */
.mainSection{
    margin-top: 5rem;
}
#categories{
    margin: 0.5rem 0;
    display: flex;
    padding: 0.5rem 0.3rem;
    background: rgba(253, 253, 253, 0.924);
}
.brand{
    width: 4rem;
    text-align: center;
    margin-right: 1rem;
    cursor: pointer;
}
.img-container{
    width: 4rem;
    height: 4rem;
    background: rgba(0, 128, 128, 0.278);
    border-radius: 50%;
    position: relative;
}

.brand-img{                                      
    height: 4.2rem;
    width: 2.2rem;
    position: relative;
    top: -2.5px;
    margin: auto;
    text-align: center;
}
.brandName{
    font-family: sans-serif;
    text-transform: capitalize;
    margin-top: 0.625rem;
    color: teal;
}
.categories{
    margin-top: 25px;
}
.title-container{
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 1rem 0.5rem;
}
.itemBtn{
    outline: none;
    border: none;
    background: rgb(126, 202, 228);
    color: white;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
.itemBtn:active{
    background: rgb(4, 167, 243);
}
.itemTitle{
    font-size: 2rem;
    background: white;
}
.card{
    display: grid;
    grid-template-columns: 
    auto auto ;
    grid-gap: 1px;
    text-align: center;
    font-family: sans-serif;
}
.item-container{
    background: white;
    position: relative;
    background: white;
    padding: 15px 12px;
    position: relative;
}
.item-container:hover{
    background: lavender;
    transition: all 0.7s ease-in-out;
}
.item-container:hover .cardImg{
    transform: scale(1.1);
    transition: all 0.7s ease-in-out;
}
.card-item{
    cursor: pointer;
}
.cardImg{
    position: relative;
    max-width: 100%;
    max-height: 8rem;
    text-align: center;
}
.itemName{
    text-align: left;
    color: lightseagreen;
    margin-top: 1rem;
    font-size: 0.95rem;
}
#add-to-cart{
    font-size: 1.5rem;
    color: rgb(155, 85, 96);
    position: absolute;
    bottom: 1rem;
    right: 0.8rem;
    cursor: pointer;
    opacity: 0;
    
}
.item-container:hover #add-to-cart{
    transition: all 0.7s ease-in-out;
    opacity: 1;
}
.itemPrice{
    color: rgb(199, 110, 110);
    text-align: left;
    margin-top: 0.5rem;
}



/* Details page */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

#details-page{
    background: rgba(128, 128, 128, 0.356);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    transition: all 0.3s ease-in-out;
}
.details{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items-detail{
    /* position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    background: white;
    width: 60vw;
    height: 70vh; */
    /* display: flex; */
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;

}
.image-container{
     /* padding: 2rem;
   margin-top: 3rem; */
   text-align: center;
}
#details-img{
    width: 12rem;
    height: 15rem;
}


.detailTitle{
    margin-top: 2rem;
    color: teal;
    /* font-size: 2.5rem; */
}
.detailPrice{
    margin-top: 1.5rem;
    color: rgb(199, 110, 110);
    /* font-size: 1.5rem; */
}
.detailDiscount {
    font-size: 16px;
    
    color: rgb(106, 146, 161);
}
.youSaved{
    font-size: 16px;
    
    color: rgb(106, 146, 161);
}
.deliveryDays{
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
.specification{
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
.items-detail  ul li{
    position: relative;
    margin: 0.5rem 0;
    font-family: sans-serif;
    list-style-position: inside;
}
.items-detail button{
    font-size: 15px;
    padding: 0.3rem;
    text-align: center;
    margin-top: 0.5rem;
    outline: none;
    border: none;
}
.addToCart{
    background: rgb(238, 166, 12);
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.addToCart:active{
    background: white;
    color: rgb(238, 166, 12);
}
.buyBtn{
    background: rgb(167, 179, 5);
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.buyBtn:active{
    background: white;
    color:rgb(167, 179, 5);
}

/* media queries for responsive view */
@media only screen and (min-width : 800px){
    .card{
        grid-template-columns: repeat(4,1fr);
    }
    .footer{
        grid-template-columns: auto auto auto;
    }
    .navAccount{
        display: inline;
    }
    .navBars{
        display: none;
    }
}


@media only screen and (max-width: 500px){
    #categories{
        width: 175%;
    } 
    .categories{
        width: 175%;
    }
    .brandName{
        font-size: 20px;
    }
    .brand{
        width: 5rem;
    }
    .itemName, .itemPrice{
        font-size: 21px;
    }
    .detailTitle{
        font-size: 25px;
    }
    .detailPrice, .detailPrice, .detailPrice, .deliveryDays,.specification, .items-detail ul li, .items-detail button{
        font-size: 22px;
    }
}




